Hi <%= name %>. 
<br>
You are <%= age %> years old. 
<br> 
What are your three favorite numbers?
<br> 
<br>

<form action = "post_numbers" method = "post">
	<input type = "text" name = "num_1">
	<input type = "text" name = "num_2">
	<input type = "text"
	name = "num_3">
	<input type = "text" name = "user_name" value = <%= name %> hidden>
	<input type = "text" name = "user_age" value = <%= age %> hidden>
	<input type = "submit">
</form>