What is your age?

<form action = "post_age" method = "post">
	<input type = "integer" name = "user_age">
	<input type = "text" name = "user_name" value = <%= name %> hidden>
	<input type = "submit">
</form>
